<a href="https://colab.research.google.com/github/pipprualgy/Checkpoint-1-AVD/blob/main/Checkpoint_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Peringkat Universitas Dunia**

#**Import Library** [](https://colab.research.google.com/drive/1X9gwXegynSTry_rirwmgmez3taMzLYrB#scrollTo=LZ2sKiyGWllL&line=1&uniqifier=1)

In [7]:
import pandas as pd

#Dataset [](https://)

In [14]:
file = "/content/drive/MyDrive/AVD Dataset/World University Rankings.csv"
filedata = pd.read_csv(file)

filedata.head(1000)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,796,Michigan Technological University,USA,216,323,478,210,779,768,406,724.0,481,44.53,2014
996,797,University of Concepción,Chile,3,355,478,210,704,452,800,724.0,426,44.53,2014
997,798,China Medical University (Taiwan),Taiwan,12,355,478,210,475,680,800,739.0,737,44.53,2014
998,799,University of Hohenheim,Germany,49,355,478,210,753,665,609,703.0,637,44.53,2014
999,800,Aberystwyth University,United Kingdom,59,355,478,210,818,562,493,716.0,481,44.53,2014

#**Business Understanding**

##Business Objective

Tujuan analisis ini adalah untuk memahami faktor-faktor penentu peringkat pada perguruan tinggi. Data mencakup kualitas riset, reputasi akademik, jumlah mahasiswa dan pengajar asing, dan keberhasilan lulusan.

##Assessment Situation

Dataset ini memiliki potensi strategis yang tinggi dengan memanfaatkan 3 sumber data utama (THE, ARWU, dan CWUR), namun menghadapi tantangan teknis berupa beberapa data yang hilang. Meskipun terdapat tantangan, antisipasi melalui pembersihan data yang ketat akan memastikan hasil analisis yang akurat.

##Analytic Goals

1. Mengembangkan skema pencocokan sumber untuk menyatukan data-data universitas yang hilang atau berebda penulisan antar sumber terkait (THE, ARWU, CWUR) untuk membangun suatu database yang berkualitas dan konsisten

2. Melakukan penanganan pada data yang hilang dengan cara menerapkan teknik statistik untuk mengisi skor yang hilang pada tahun tertentu sehingga data historis universitas tetap dapat dianalisis tanpa terputus.

3. Mengidentifikasi variabel mana yang memiliki korelasi terkuat terhadap kenaikan peringkat di setiap platform.

##Project Plan

1. Integrasi data. berupa pembersihan data, penanganan nilai yang hilang, dan sinkronisasi nama universitas antar dataset. timeline: pekan 1

2. Standarisasi skor dari berbagai lembaga pemeringkat agar bisa dibandingkan secara objektif dengan cara menyamakan skala atau rentang nilai. timwline: pekan 2

3. menganalisis dengan cara visualisasi perkembangan peringkat dan pemetaan performa. timeline: pekan 3

4. Melakukan pemodelan statistik dengan cara mengidentifikasi indikator yang paling berpengaruh terhadap kenaikan peringkat melalui analisis korelasi. timeline: timeline: pekan 4-5, memakan waktu 2 pekan karena proses pengelompokan, validasi serta pengujian model.

5. Penyusunan laporan dasbor interaktif dan rekomendasi. timeline: pekan 6.

   penyusunan dasbor interaktif ini memungkinkan pihak kampus melihat posisi kampus mereka dengan pesaing global lainnya. rekomendasi berfungsi untuk menyarankan universitas agar lebih fokus meningkatkan kualitas riset internasional jika data menunjukkan bahwa sektor tersebut memiliki bobot yang besar terhadap faktor peringkat kampus.